<div class="container">
    <div class="col-lg-5 mx-auto">
        <div class=" rounded shadow shdaow-sm p-4 m-4">
            <form (ngSubmit)='registerUser()'>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Name</label>
                    <input type="text" name='name' required class="form-control" [(ngModel)]='formData.name'>
                </div>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" name='email' required class="form-control" [(ngModel)]='formData.email'>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" name='password' required class="form-control"
                        [(ngModel)]='formData.password'>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password2</label>
                    <input type="password2" name='password2' required class="form-control"
                        [(ngModel)]='formData.password2'>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>